@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
* {
  box-sizing: border-box;
}

body {
  padding: 20px 0;
  color: #212121;
  background: #f8f8f6;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1, h2, h3, h4, h5, p, div {
  margin: 0;
  padding: 0;
}

.container {
  background: white;
  display: flex;
  width: 90vw;
  height: 600px;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.2);
  position: relative;
}
.container .half {
  width: 50%;
  height: 100%;
}
.container .right {
  background: #eaeae9;
  overflow: hidden;
  position: relative;
}
.container .right .slide {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.container .right .s1 {
  background: url(https://40.media.tumblr.com/tumblr_lqjip3WS6g1qcg4y9o1_500.jpg);
  background-size: cover;
  background-position: center;
  z-index: 20;
}
.container .right .s2 {
  background: url(https://40.media.tumblr.com/d02e05044230057d15370c6ed3931bec/tumblr_nqi8l5jxwr1uzrl54o1_500.jpg);
  background-size: cover;
  background-position: center;
}
.container .right .s3 {
  background: url(https://s-media-cache-ak0.pinimg.com/736x/e0/42/c1/e042c17835ae71c25bbf2510d0b31bb5.jpg);
  background-size: cover;
  background-position: center;
}
.container .right .s4 {
  background: url(https://static.tumblr.com/65162db388baaea011ad9b04912c0f58/ivguq93/wsGnlmsac/tumblr_static_91nsinx32eosw4kk8cg08s8o0_2048_v2.jpg);
  background-size: cover;
  background-position: center;
}
.container .right .s5 {
  background: url(http://s8.favim.com/orig/150605/forest-green-mystery-nature-Favim.com-2793315.png);
  background-size: cover;
  background-position: center;
}
.container .left {
  padding-right: 50px;
  padding-left: 30px;
}
.container .left .menu {
  cursor: pointer;
  padding: 20px;
  padding-left: 10px;
}
.container .left .menu img, .container .left .menu p {
  display: inline-block;
  vertical-align: top;
}
.container .left .menu img {
  height: 20px;
}
.container .left .menu p {
  margin-left: 10px;
}
.container .left .flex {
  display: flex;
  height: 90%;
  width: 100%;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}
.container .left .flex .cover {
  background: white;
  top: 0;
  width: 100%;
  height: 50px;
  position: absolute;
  z-index: 50;
}
.container .left .flex .desc {
  position: absolute;
  bottom: 20px;
  width: 100%;
  background: white;
  margin-bottom: 40px;
}
.container .left .flex .desc h3, .container .left .flex .desc h4 {
  font-family: Playfair Display;
  font-weight: 400;
  font-style: italic;
}
.container .left .flex .desc h4 {
  margin-bottom: 20px;
}
.container .left .flex .desc h3 {
  font-weight: 600;
}
.container .left .flex .desc h1, .container .left .flex .desc p {
  font-family: Roboto;
}
.container .left .flex .desc h1 {
  font-weight: 900;
  background: white;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 15px;
}
.container .left .flex .desc p {
  font-size: 12px;
  margin: 40px 0;
  margin-bottom: 0;
  line-height: 20px;
}
.container .left .flex .desc .button {
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column-reverse;
    height: 600px;
  }
  .container .half {
    width: 100%;
    height: 70%;
  }
  .container .half .flex {
    justify-content: flex-start;
    height: 80%;
  }
  .container .half .flex .desc {
    margin-top: 30px;
    height: 100%;
    margin-bottom: 0;
  }
  .container .half .flex .cover {
    display: none;
  }
  .container .right {
    height: 30%;
  }
}